doctype html
html
  head
    title Blog
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")

  body
    nav.navbar.navbar-light.bg-faded
      a.navbar-brand(href='/') Hexlet Blogs
      if currentUser.isGuest()
        ul.nav.navbar-nav.float-xs-right
          li.nav-item
            a.nav-link(href='/session/new') Sign in
          li.nav-item
            a.nav-link(href='/users/new') Sign up
      else
        ul.nav.navbar-nav.float-xs-right
          li.nav-item
            form.form-inline.float-xs-right(action='/session?_method=DELETE' method='post')
              button.btn.btn-link(type='submit') Sign out
          li.nav-item
            a.nav-link(href="/posts/new") Write Post
          li.nav-item
            a.nav-link(href="/posts") My Posts
    .container
      .mt-1
        for message in flash
          .alert(class=`alert-${message.type}`)
            = message.message
        block content
