extends ../layouts/app.pug

block content
  if posts.length > 0
    table.table
      tr
        th Title
        th Actions
      for post in posts
        tr
          td
            a(href=`/posts/${post.id}`)= post.title
          td
            a(href=`/posts/${post.id}/edit`) Edit
            form.form-inline.d-inline-block(action=`/posts/${post.id}?_method=DELETE` method='post')
              button.btn-link(type='submit') Delete
  else
    p Пусто
